In [28]:
import pandas as pd #import library
import numpy as np

In [10]:
data = {
    'dayOfYear':[1,2,3,4,5],
    'windSpeed' : [2.2,3.2,-9999.0,4.1,2.9],
    'windDirection':['E','NW','NW','N','S'],
    'percipitation':[0,18,25,2,0]
}

In [13]:
df  =pd.DataFrame(data)
df

   dayOfYear  windSpeed windDirection  percipitation
0          1        2.2             E              0
1          2        3.2            NW             18
2          3    -9999.0            NW             25
3          4        4.1             N              2
4          5        2.9             S              0

In [17]:
df.head(3)

   dayOfYear  windSpeed windDirection  percipitation
0          1        2.2             E              0
1          2        3.2            NW             18
2          3    -9999.0            NW             25

In [20]:
df.dtypes

dayOfYear          int64
windSpeed        float64
windDirection     object
percipitation      int64
dtype: object

In [79]:
df.shape # Get the shapes of the data
# returns ( rows , coloumns)

(5, 4)

In [24]:
df.tail(3)

   dayOfYear  windSpeed windDirection  percipitation
2          3    -9999.0            NW             25
3          4        4.1             N              2
4          5        2.9             S              0

In [26]:
idx_missing = df.isin([-9999.0])
idx_missing

   dayOfYear  windSpeed  windDirection  percipitation
0      False      False          False          False
1      False      False          False          False
2      False       True          False          False
3      False      False          False          False
4      False      False          False          False

In [29]:
df["windSpeed"] == -9999.0

0    False
1    False
2     True
3    False
4    False
Name: windSpeed, dtype: bool

In [33]:
type(np.nan)    # Nan - not a number 
df[idx_missing] =np.nan
df

   dayOfYear  windSpeed windDirection  percipitation
0          1        2.2             E              0
1          2        3.2            NW             18
2          3        NaN            NW             25
3          4        4.1             N              2
4          5        2.9             S              0

In [36]:
df.describe() # Get the broad view of the table

       dayOfYear  windSpeed  percipitation
count   5.000000   4.000000         5.0000
mean    3.000000   3.100000         9.0000
std     1.581139   0.787401        11.7047
min     1.000000   2.200000         0.0000
25%     2.000000   2.725000         0.0000
50%     3.000000   3.050000         2.0000
75%     4.000000   3.425000        18.0000
max     5.000000   4.100000        25.0000

In [41]:
print(df['windSpeed'].mean())
print(df['windSpeed'].min())
print(df['windSpeed'].max())
print(df['windSpeed'].median)
print(df['windSpeed'].quantile(0.5))

3.1
2.2
4.1
<bound method Series.median of 0    2.2
1    3.2
2    NaN
3    4.1
4    2.9
Name: windSpeed, dtype: float64>
3.05

In [45]:
df["percipitation"].cumsum()

0     0
1    18
2    43
3    45
4    45
Name: percipitation, dtype: int64

In [47]:
df.percipitation.cumsum()

0     0
1    18
2    43
3    45
4    45
Name: percipitation, dtype: int64

In [49]:
df["windDirection"].unique()

array(['E', 'NW', 'N', 'S'], dtype=object)

In [53]:
df[0:3]

   dayOfYear  windSpeed windDirection  percipitation
0          1        2.2             E              0
1          2        3.2            NW             18
2          3        NaN            NW             25

In [56]:
df[["windSpeed","windDirection"]]

   windSpeed windDirection
0        2.2             E
1        3.2            NW
2        NaN            NW
3        4.1             N
4        2.9             S

In [63]:
# interger loc or iloc notation  using just raws and columns
# row and coulmns are 
# non inclusie last element
#iloc = interger location 
#loc = name location
df.iloc[0:3,2:4]
df.loc[0:3,["windSpeed","windDirection"]]

   windSpeed windDirection
0        2.2             E
1        3.2            NW
2        NaN            NW
3        4.1             N

In [74]:
dfwindAbove3= df['windSpeed'] >= 3
dfwindAbove3

0    False
1     True
2    False
3     True
4    False
Name: windSpeed, dtype: bool

In [75]:
df.loc[dfwindAbove3,"percipitation"]

1    18
3     2
Name: percipitation, dtype: int64

In [77]:
dates = pd.date_range('20200101',periods=df.shape[0],freq ='m')
dates

DatetimeIndex(['2020-01-31', '2020-02-29', '2020-03-31', '2020-04-30',
               '2020-05-31'],
              dtype='datetime64[ns]', freq='M')

In [82]:
df['dates'] = dates
#df.insert(0,'dates',dates)
df

   dayOfYear  windSpeed windDirection  percipitation      dates
0          1        2.2             E              0 2020-01-31
1          2        3.2            NW             18 2020-02-29
2          3        NaN            NW             25 2020-03-31
3          4        4.1             N              2 2020-04-30
4          5        2.9             S              0 2020-05-31

In [86]:
df.drop(columns=['dates'])

   dayOfYear  windSpeed windDirection  percipitation
0          1        2.2             E              0
1          2        3.2            NW             18
2          3        NaN            NW             25
3          4        4.1             N              2
4          5        2.9             S              0

In [ ]:
#